name: Create new realease
on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Install fuse and libfuse2
      run: sudo apt install fuse libfuse2

    - name: Get pkg2appimage
      run: |
        set -x
        wget https://github.com/AppImageCommunity/pkg2appimage/releases/download/continuous/pkg2appimage-1807-x86_64.AppImage
        chmod +x pkg2appimage-1807-x86_64.AppImage
        ls -lah

    - name: Make AppImage
      run:  |
        set -x
        ./pkg2appimage-1807-x86_64.AppImage FocusWriter.yml

    - name: List files and rename AppImage
      run: |
        set -x
        pwd; ls -lah
        cd out/
        fileName=$(ls FocusWriter*.AppImage)
        echo "fileName: $fileName"
        fileNameNew=$(echo "$fileName" | sed 's/.AppImage//')
        mv "$fileName" "${fileNameNew}-1_JB.AppImage"
        md5sum "${fileNameNew}-1_JB.AppImage" > "${fileNameNew}-1_JB.AppImage.md5"
        ls -lah

    - uses: xresloader/upload-to-github-release@main
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          file: "out/FocusWriter-*.AppImage; out/FocusWriter-*.md5"
          release_id: ${{ steps.create_release.outputs.id }}
          verbose: true
          draft: false
